# Домашнее задание 2 

Необходимо реализовать схему, указанную в hw_diagram.pdf

## Описание таблиц 
PeopleStatus - Описание возможных статусов людей, которые есть в университете (Студент, Преподаватель).
Faculties - Описание факультетов, которые есть в университете (KIB, IT, и т.д.).
People - Информация о людях в университете (Имя, почта, ссылка на факультет, ссылка на статус).
Classes - Описание возможных классов в университете (название (Математический анализ) и ссылка на факультет).
Semesters - Справочник семестров факультета(например, Осень2016, '2016-01-01', '2016-12-31').
ClassesSchedule - Расписание классов (ссылки на семестр, преподавателя и курс, день недели, время начала).
StudentsSchedule - Таблица, описывающая, какой студент ходит на какой курс.

In [1]:
# Не забудьте настроить соединение!

In [2]:
%load_ext sql
%sql sqlite:///university

'Connected: None@university'

## Создание таблиц
Напишет ниже скрипты по созданию таблиц с учетом всех внешних ключей.

In [8]:
%%sql
drop table if exists StudentsSchedule;
drop table if exists ClassesSchedule;
drop table if exists Classes;
drop table if exists People;
drop table if exists PeopleStatus;
drop table if exists Faculties;
drop table if exists Semesters;

pragma foreign_keys = ON;
create table Faculties (
    id integer primary key,
    name varchar);
create table PeopleStatus (
    id integer primary key,
    name varchar);
create table People (
    id integer primary key,
    name varchar,
    email varchar,
    fac_id integer,
    status_id integer,
    foreign key (status_id) references PeopleStatus(id),
    foreign key (fac_id) references Faculties(id));
create table Classes (
    id integer primary key,
    description varchar,
    fac_id integer,
    foreign key (fac_id) references Faculties(id));
create table Semesters (
    id integer primary key,
    shortname varchar,
    date_start date,
    date_end date);
create table ClassesSchedule (
    id integer primary key,
    class_id integer,
    teacher_id integer,
    semester_id integer,
    week_day integer,
    time_start varchar,
    foreign key (class_id) references Classes(id),
    foreign key (teacher_id) references People(id),
    foreign key (semester_id) references Semesters(id));
create table StudentsSchedule (
    student_id integer,
    classesschedule_id integer,
    primary key (student_id, classesschedule_id),
    foreign key (student_id) references People(id),
    foreign key (classesschedule_id) references ClassesSchedule(id));

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

## Добавление записей в таблицы
Приведите примеры добавления записей в каждую из таблиц

In [9]:
%%sql
insert into PeopleStatus values(1, 'teacher');
insert into PeopleStatus values(2, 'student');
insert into Faculties values(1, 'Kib');
insert into Faculties values(2, 'IT');
insert into Semesters values(1, 'first', '2015-09-1', '2016-01-31');
insert into Semesters values(2, 'second', '2016-02-1', '2016-07-1');
insert into People values(1, 'Ivanov', 'Ivanov@ivanov.iv', 1, 2);
insert into People values(2, 'Petrov', 'Petrov@petrov.pv', 1, 1);
insert into Classes values(1, 'Maths', 1);
insert into Classes values(2, 'ComputerScience', 2);
insert into ClassesSchedule values(1, 1, 2, 1, 1, '9.00');
insert into StudentsSchedule values(1, 1);

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

Находится ли указанная схема ниже в BCNF? Напишите ниже функциональные зависимости, которые вы считаете, есть в указанной схеме.